body {
	background-color: #fbf9e7;
	margin: 0px;
	padding:0px;
	font-family:Verdana, Arial;
	font-size:12px;
}
img {
	border:none;
}
a {
	border:none;
	color:#000;
}
.f-left {
	float:left;
}
.f-right {
	float:right;
}
.clear {
	clear:both;
}
.fieldset {
	padding:0px;
	margin:0px;
    border:0px;
	font-size:11px;
	line-height:20px;
}
legend {
	font-size:13px;
}
.input {
	border:1px solid #aca899;
	padding:3px 4px;
}
.select {
	border:1px solid #aca899;
	padding:2px 4px;
}
.tabbing{
	background: url(../images/tab-bg.png) right  top no-repeat; 
	position: relative;
	/*border-left:1px solid #000;*/
	width:39px; 
	height:105px; 
	float:right;
}
.tabbing-select{
	background: url(../images/tab-bg.png) right  top no-repeat; 
	position: relative;
	border-left:2px solid #ede9d8;
	width:39px; 
	height:105px; 
	float:right;
}
.css-vertical-text {
    writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
    color: #00000;
    display: block;
    float: left;
    font-family:arial;
    font-size: 12px;
    font-weight: bold;
	top: 0;
    left: 0;
    padding:0;
    letter-spacing: 1px;
    position: absolute;
    /*text-shadow: 0 0 1px #000000;*/
    white-space: nowrap;
    width: 12px;
}
/*========== Margin ==========*/
.mar1 {
	margin-top:5px;
}
.mar2 {
	margin-top:10px;
}
.mar3 {
	margin-right:5px;
}
.mar4 {
	margin-right:10px;
}
.mar5 {
	margin-bottom:5px;
}
.mar6 {
	margin-bottom:10px;
}
.mar7 {
	margin-left:5px;
}
.mar8 {
	margin-left:10px;
}
/*========== padding ==========*/
.pad1 {
	padding-top:5px;
}
.pad2 {
	padding-top:10px;
}
.pad3 {
	padding-right:5px;
}
.pad4 {
	padding-right:10px;
}
.pad5 {
	padding-bottom:5px;
}
.pad6 {
	padding-bottom:10px;
}
.pad7 {
	padding-left:5px;
}
.pad8 {
	padding-left:10px;
}
/*====================================== Top Menu ======================================*/

.top-menu {
	width:100%;
	height:28px;
	background:url(../images/topmenu-bg.png) left top repeat-x;
}
.chromestyle {
	width:1000px;
	margin:0 auto;
}
.chromestyle ul {
	padding:0;
	margin: 0;
	text-align: center; /*set value to "left", "center", or "right"*/
}
.chromestyle li {
	display: inline;
	float:left;
}
.chromestyle ul li a {
	color: black;
	padding: 2px 7px;
	margin: 0;
	text-decoration: none;
	line-height:28px;
	border: 1px solid #e3ecf9; border-bottom: 0px solid #e8f1fa;
}
.chromestyle ul li a:hover {
	background:url(../images/topmenu-bg-hover.png) top center repeat-x;
	color: black;
	margin: 0;
	text-decoration: none;
	line-height:28px;
	border: 1px solid #002d96; border-bottom: 0px solid #002d96;
}
/* ######### Style for Drop Down Menu ######### */

.dropmenudiv {
	position:absolute;
	background-image:url(../images/menu-border-left.png);
	background-repeat:repeat-y;
	background-position:30px 0;
	top: 0;
	border: 1px solid #979797; /*THEME CHANGE HERE*/
	font:normal 11px Verdana;
	padding-left:31px;
	z-index:100;
	background-color: #f0f0f0;
	width: 200px;
	visibility: hidden;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA, direction=135, strength=4); Add Shadow in IE. Remove if desired*/
}
.menu-border-bottom{
	background:url(../images/menu-border-bottom.png) left bottom repeat-x;}

.dropmenudiv a {
	width: auto;
	display: block;
	text-indent: 3px;
	/*border-bottom: 1px solid #BBB; THEME CHANGE HERE*/
	padding: 5px 5px;
	text-decoration: none;
	color: black;
}
* html .dropmenudiv a { /*IE only hack*/
	width: 100%;
}
.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	/*background-color: #F0F0F0;*/
}
/*====================================== Body Wrapper ======================================*/

.body-wrapper {
	width:1000px;
	margin:15px auto;
}
.left {
	background-color:#ede9d8;
	border-top:1px solid #716f64;
	border-left:1px solid #716f64;
	border-right:1px solid #aca899;
	border-bottom:1px solid #aca899;
	width:179px;
	padding:15px 9px;
	min-height:612px;
}
.middle {
	background-color:#ede9d8;
	border-top:1px solid #716f64;
	border-left:1px solid #716f64;
	border-right:1px solid #aca899;
	border-bottom:1px solid #aca899;
	width:559px;
	padding:15px;
	min-height:595px;
}
.right {
	background-color:#ede9d8;
	border-top:1px solid #716f64;
	border-left:1px solid #716f64;
	border-right:1px solid #aca899;
	border-bottom:1px solid #aca899;
	width:150px;
	padding:15px 9px;
	min-height:612px;
}
.product-display {
	background-color:#cdcac2;
	border:1px solid #aca899;
	height:590px;
	padding:10px 0px 10px 10px;
	overflow:auto;
}
.product {
	margin:8px;
	padding:0px;
	min-height:165px;
	text-align:center;
	line-height:16px;
}

.heading {
	font-size:16px;
	font-family:arial;
	font-weight:bold;
	text-align:center;
}
.options-list {
	border-top:1px solid #f9f8f3;
	border-left:1px solid #f9f8f3;
	border-bottom:1px solid #aca899;
	border-right:1px solid #aca899;
	padding:6px 4px;
}
.button {
	background-color:#d4d0c8;
	color:#000;
	border-top:1px solid #f1efe2;
	border-left:1px solid #f1efe2;
	border-right:1px solid #aca899;
	border-bottom:1px solid #aca899;
	font-size:12px;
	padding:3px;
}
.button:hover {
	background-color:#bcb7ae;
	color:#000;
	border-top:1px solid #f1efe2;
	border-left:1px solid #f1efe2;
	border-right:1px solid #716f64;
	border-bottom:1px solid #716f64;
	font-size:12px;
	padding:3px;
}
/*========== search ==========*/
#searchwrapper {
	height:24px;/*follow your image's size*/
	background-image: url(../images/searchbox.png);
	background-position:left;
	background-repeat:no-repeat; /*important*/
	padding:0px;
	margin:10px 0px;
	position:relative; /*important*/
}
#searchwrapper form {
	display:inline;
}
.searchbox {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:1px;
	left:5px;
	padding-top:0;
	font-style:italic;
	font-size:11px;
	color:#696969;
	height:20px;
}
.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:0px;
	width:24px;
	height:24px;
}
.tab-menu {
	width:39px;
	border-left:1px solid #000;
	margin-left:-1px;
}
.tab-menu-select {
	width:39px;
	border-left:1px solid #ede9d8;
	margin-left:-1px;
	z-index:2;
}

/*==================== Lightbox ====================*/

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; display:none; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../images/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
	}
	


#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}