<script> jQuery("#colorbox, #cboxOverlay").show(); </script>
<h1> Log  Entry </h1>

<table border=1>
<tr>
<th>Record Id</th>
<th>Old Data</th>
<th>New Data</th>
</tr>

<tr>
<td><%=@audit_log.record_id%></td>
<td><%=@audit_log.old_data%></td>
<td><%=@audit_log.new_data%></td>
</tr>
</table>
